<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="{{ url_for('login') }}">
        <label for="username">用户名: </label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">密 码: </label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value=" 登 录 ">
    </form>

</body>
</html>